<div class="row" id="prd_msg"></div>
<div>
    <form th:object="${prd}" id="f_prd">
        <div class="mb-2 mb-md-0 container">
            <div class="row">
                <div class="col-sm form-group">
                    <div class="form-group">
                        <input type="text" class="form-control w-100" th:field="*{prMainId}" id="f_prmid" hidden>
                        <label th:text="#{pr.details.erp.code} + ':'"></label>
                        <i class='fa fa-asterisk' style='color: red;font-size: 0.5rem; '></i>
                            <div th:if="${ec == 'null'}">
                                <input  id="itemErpCode" type="text" class="form-control  must-have" th:field="*{itemErpCode}" autocomplete="off"
                                        list="erpCodeList" placeholder="please enter ERP code"  >
                                <datalist id="erpCodeList">
                                </datalist>
                            </div>

                            <input th:if="${ec != 'null'}" type="text" class="form-control  must-have" name="itemErpCode" th:value="${ec}" readonly>

                    </div>
                </div>
                <div class="col-sm form-group">
                    <div class="form-group">
                        <label th:text="#{pr.details.erp.desc} + ':'"></label>
                        <i class='fa fa-asterisk' style='color: red;font-size: 0.5rem; '></i>
                        <input type="text" class="form-control  must-have" th:field="*{itemErpDesc}" id="itemErpDesc" th:readonly="${ec == 'null'}">
                    </div>
                </div>
                <div class="col-sm form-group">
                    <div class="form-group">
                        <label th:text="#{pr.details.erp.brand_size} + ':'"></label><i class='fa fa-asterisk'
                                                                                       style='color: red;font-size: 0.5rem; '></i>
                        <input type="text" class="form-control  must-have" th:field="*{itemErpBrandSize}" id="itemErpBrandSize" th:readonly="${ec == 'null'}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                    <label th:text="#{pr.details.qty} + ':'"></label><i class='fa fa-asterisk'
                                                                        style='color: red;font-size: 0.5rem; '></i>
                    <input type="text" class="form-control  must-have" th:field="*{qty}">
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label th:text="#{pr.details.erp.unit} + ':'"></label><i class='fa fa-asterisk'
                                                                                 style='color: red;font-size: 0.5rem; '></i>
                        <input type="text" class="form-control  must-have" th:field="*{itemErpUnit}" id="itemErpUnit" th:readonly="${ec == 'null'}">
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label th:text="#{pr.details.est.cost} + ':'"></label><i class='fa fa-asterisk'
                                                                                 style='color: red;font-size: 0.5rem; '></i>
                        <input type="text" class="form-control  must-have" th:field="*{estCost}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm form-group">
                    <label th:text="#{pr.details.target.date} + ':'"></label>
                    <input type="text" class="form-control w-100" th:field="*{targetDate}" id="f_targetDate" readonly>
                </div>
                <div class="col-sm form-group" >
                    <label th:text="#{pr.details.memo} + ':'"></label>
                    <textarea class="form-control" rows="3" th:field="*{memo}" id="f_memo" ></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm text-center">
                    <button class="btn btn-danger" id="btn_new_save" th:text="#{page.submit}"></button>
                </div>
            </div>
        </div>
    </form>
</div>

<input hidden th:value="${@environment.getProperty('infor-api-url')}" id="infor_api_url">

<script th:inline="javascript">

    $(document).ready(function () {
        const date = new Date();
        const today = new Date(date.getFullYear(), (date.getMonth()+1), date.getDate());

        $("#f_targetDate").val(date.getFullYear() + "-" + (date.getMonth()+1) + "-" + date.getDate());

        $("#f_targetDate").datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            daysOfWeekHighlighted: "0,6",
            setDate: today,
            autoclose: true
        });

        $("#btn_new_save").click(function (e) {
            e.preventDefault();
           // alert($("#f_prmid").val());
            const valid = verification();
            if (valid) {
                let id = $("#f_prmid").val();
                ajax_prd_new(id);
            }else{
                show_mes("prd_msg",[[#{page.must.input.value}]] ,true);
            }
        });

        $("#itemErpCode").keyup(function (){
            const infor_api_url = $("#infor_api_url").val();
            const itemErpCode = $("#itemErpCode").val();
            ajax_fuzzyItemList(infor_api_url,itemErpCode);
        });

        $("#itemErpCode").focusout(function (){
            const $el = $("#erpCodeList");
            const tDsca = $el.find("option").attr('data-tDsca');
            const tCuni = $el.find("option").attr('data-tCuni');
            $("#itemErpDesc").val(tDsca);
            $("#itemErpBrandSize").val(tDsca);
            $("#itemErpUnit").val(tCuni);
        })

    })

    function verification() {
        let result = true;
        let input_len = $(".must-have").length;

        for (let i=0; i< input_len; i++){
            if ($.trim($(".must-have")[i].value) === ""){
                result = false;
                show_mes("prd_msg",[[#{page.input.required}]],true);
                break;
            }
        }

        return result;
    };

    function ajax_prd_new(id) {
        const json_formData = $('#f_prd').serializeArray()
            .reduce(function (a, x) {
                a[x.name] = x.value;
                return a;
            }, {});

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/api/pr/prd/new/" + id,
            data: JSON.stringify(json_formData),
            dataType: 'json',
            cache: false,
            async: false,
            success: function (data) {
                show_mes("prd_msg", [[#{pr.prd.create.success}]],false);
            },
            error: function (data) {
                show_mes("prd_msg", [[#{pr.prd.create.fail}]],false);
            }
        });
    }

    function ajax_fuzzyItemList(infor_api_url, itemCode){

        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: infor_api_url+"/api/items/" + itemCode,
            dataType: 'json',
            cache: false,
            async: false,
            success: function (data) {
                //let obj = JSON.parse(data);

                let $el = $("#erpCodeList");
                $el.empty();

                $.each(data, function (index) {
                    let $el_li = $("<option value='" + data[index]['tItem']+ "' data-tDsca='"
                        + data[index]['tDsca'] + "' data-tCuni='" + data[index]['tCuni']+ "' ></option>");
                    $el.append($el_li);
                });
            }
        })
    }

</script>