<div th:switch="${prms!=null and !prms.empty}">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col" th:text="#{pr.title}"></th>
                <th scope="col" th:text="#{pr.no}"></th>
                <th scope="col" th:text="#{pr.prm.pocode}"></th>
                <th scope="col" th:text="#{pr.flow_type_s}"></th>
                <th scope="col" th:text="#{pr.cost_center}"></th>
                <th scope="col" th:text="#{pr.apl.dept}"></th>
                <th scope="col" th:text="#{pr.project.name}"></th>
                <th scope="col" th:text="#{pr.status}"></th>
                <th scope="col" th:text="#{pr.process}"></th>
                <th scope="col" th:text="#{pr.pass}"></th>
                <th scope="col" th:text="#{pr.prm.total.estcost}"></th>
                <th scope="col" th:text="#{created.date}"></th>
            </tr>
            </thead>
            <tr th:each="prm,iter:${prms}">
                <td>
                    <span th:text="${iter.index +1 }"></span>
                    <button class="copy_pr"><i class="fa fa-copy" style="color: green" aria-hidden="true"></i></button>
                </td>
                <td>
                    <a class="a_read">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <samll th:text="${prm.prTitle}"></samll>
                    </a>
                    <span class='prm_id' hidden th:text="${prm.id}"></span>
                </td>
                <td>
                    <samll th:text="${prm.prNo}"></samll>
                </td>
                <td>
                    <samll th:text="${prm.poCode}"></samll>
                </td>
                <td>
                    <samll th:text="${prm.flowType}"></samll>

                </td>
                <td>
                    <samll th:text="${prm.costCenter}"></samll>
                </td>
                <td>
                    <samll th:text="${prm.aplDept}"></samll>
                </td>
                <td>
                    <samll th:text="${prm.projectName}"></samll>
                </td>
                <td>
                    <samll th:text="${prm.submitted==1} ? #{pr.submitted}:#{pr.saved}"></samll>
                </td>
                <td>
                    <samll th:text="${prm.finished==1} ? #{pr.status.completed}:#{pr.status.pending}"></samll>
                    <span th:if="${prm.finished==1}">
                        <b><i class="fa fa-flag fa-lg" style='color: green '></i></b>
                    </span>
                    <span th:if="${prm.finished==0 }">
                        <b><i class="fa fa-clock-o fa-lg" style='color: blue '></i></b>
                        <button class="btn btn-danger revoke" th:text="#{pr.prm.revoke}"></button>
                    </span>
                </td>
                <td>
                    <div th:switch="${prm.finished}">
                        <div th:case="1">
                            <samll th:text="${prm.approved==1}? #{pr.approve.agreed}:#{pr.approve.rejected}"></samll>
                            <span th:if="${prm.approved==1}">
                            <b><i class="fa fa-check fa-lg" style='color: green '></i></b>
                            </span>
                                    <span th:if="${prm.approved==0}">
                                <b><i class="fa fa-times fa-lg" style='color: red '></i></b>
                                        <button class="btn btn-primary pr-to-edit" th:text="#{page.edit}"></button>
                            </span>
                        </div>
                        <div th:case="0">
                            <button class="btn btn-info btn-sm task_assignee" th:text="#{pr.task.assignee}"></button>
                        </div>
                    </div>
                </td>
                <td>
                    <small th:text="${prm.totalEstCost}"></small>
                </td>
                <td>
                    <samll th:text="${#dates.format(prm.prAplDate,'yyyy-MM-dd')}"></samll>
                </td>
            </tr>
        </table>
    </div>
    <div class="row" th:case="false">
        <h5 th:text="#{no.record}"></h5>
    </div>
</div>

<div class="modal fade" id="revoke_modal" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-block">
                <h4 class="modal-title " th:text="#{pr.revoke.alert}"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" >
                <div th:text="#{pr.revoke.alert.msg}"></div>
                <div id="revoke-msg"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="d_submit" th:text="Yes"></button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" th:text="#{page.close}"></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reEdit_modal" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-block">
                <h4 class="modal-title " th:text="#{pr.change.to.edit.alert}"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" >
                <div th:text="#{pr.change.to.edit.msg}"></div>
                <div id="reEdit-msg"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="b_edit_submit" th:text="Yes"></button>
                <button type="button" class="btn btn-info" data-dismiss="modal" th:text="#{page.close}"></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="assignee_modal" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-block">
                <h4 class="modal-title " ></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" >
                <div>Current assignee:</div>
                <div id="assignee-msg"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" th:text="#{page.close}"></button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="prm_copy_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-block">
                <h4 class="modal-title " th:text="#{pr.copy.create}"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div th:text="#{pr.copy.create.alert}"></div>
                <div id="c-msg"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary yes" th:text="Yes"></button>
                <button type="button" class="btn btn-info" data-dismiss="modal" th:text="#{page.close}"></button>
            </div>
        </div>
    </div>
</div>


<script th:inline="javascript">
    $(document).ready(function () {
        $('a.a_read').click(function (e) {
            const id = $(this).closest("td").find(".prm_id").text();

            ajax_readPRMById(id);
        });

        $('.revoke').click(function (){
            const id = $(this).closest("tr").find(".prm_id").text();

            ajax_deleteCommentByPrmId(id);
        });

        $(".pr-to-edit").click(function (){

            const id = $(this).closest("tr").find(".prm_id").text();

            ajax_reEditPr(id);

        });

        $(".modal").not("#assignee_modal").on('hidden.bs.modal',function (){
            $("#saved_list").trigger("click");
            $("#display_pr_submitted").trigger("click");
        });

        $(".task_assignee").click(function (){
            const id = $(this).closest("tr").find(".prm_id").text();
            ajax_getTaskName(id);
        })

        $(".copy_pr").click(function (){
            const id = $(this).closest("tr").find(".prm_id").text();
            ajax_CopyCreatePrByPrmId(id);
        })
    });

    function  ajax_readPRMById(id){
        $.ajax({
            type: "GET",
            contentType: "text/html",
            url: "/pr/prm/history/" + id,
            dataType: 'html',
            cache: false,
            async: false,
            success: function (data) {

                $("#v_pr_item_details").empty();
                $("#v_pr_item_details").html(data);
                $("#v_pr_detail_modal").modal();
            }
        })
    }

    function ajax_deleteCommentByPrmId(id){
        $("#revoke_modal").modal();

        $("#revoke_modal .modal-footer button").on("click", function (e) {
            const $button = $(e.target);
            if ($button.text() === "Yes") {
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/api/pr/process/proIns/revoke/" + id,
                    dataType: 'json',
                    cache: false,
                    async: false,
                    success: function (data) {

                        $("#revoke_modal").modal('hide');
                    },
                    error: function (data) {

                        alert("Server failed");
                    }
                })
            }
        })
    }

    function ajax_getTaskName(id){
        $.ajax({
            type: "GET",
            contentType: "text/html",
            url: "/api/pr/process/taskname/" + id,
            dataType: 'text',
            cache: false,
            async: false,
            success: function (data) {

                $("#assignee-msg").empty();
                $("#assignee-msg").html("<div class='alert alert-success'>" +
                    "<strong>"+ data + "</strong>"+
                    '</div>');
                $("#assignee_modal").modal();
            }
        })
    }

    function ajax_reEditPr(id){
        $("#reEdit_modal").modal();

        $("#reEdit_modal .modal-footer button").on("click", function (e) {
            const $button = $(e.target);

            if ($button.text() === "Yes") {

                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/api/pr/reEdit/" + id,
                    dataType: 'text/json',
                    cache: false,
                    async: false,
                    success: function (data) {
                        $("#reEdit_modal").modal('hide');
                    },
                    error: function () {
                        alert("Service failure");
                        //show_mes("reEdit-msg","Service failure",true);
                    }
                })
            }
        })
    }

    function ajax_CopyCreatePrByPrmId(prmId){
        $("#prm_copy_modal").modal();
        $("#prm_copy_modal .modal-footer button ").on("click", function (e) {
            const $button = $(e.target);

            if ($button.text() === "Yes") {
                $(this).prop("disabled",true);
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/api/pr/copy/" + prmId,
                    dataType: 'text/json',
                    cache: false,
                    async: false,
/*                    success: function (data, textStatus, jqXHR) {
                        alert("success");
                        alert(data);
                        alert(jqXHR); //status is 204
                        alert($.parseJSON(data.responseText));
                    },*/
                    complete: function(data) {
                        if(data.status === '200'){
                            show_mes("c-msg",JSON.parse(data.responseText)["message"],true);
                        }else{
                            show_mes("c-msg",JSON.parse(data.responseText)["message"],false);
                        }
                    }
                })
            }
        })
    }
</script>
