<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EUROMISI Office Online</title>
    <div th:replace="fragments/fragments::html_header('tag')"></div>
</head>
<body>
<h1 class="h2" th:text="#{calendar.calendar_editor}"></h1>
<div class="d-flex flex-row justify-content-center">
    <nav class="navbar navbar-light">
        <select class="form-control w-auto" id="s_year"></select>
        <button class="btn btn-primary mx-lg-5 " th:text="#{it-asset.index.search}" th:id="search"></button>
        <button class="btn btn-link" id="add" data-toggle="modal" data-target="#add_modal" style="top:100px">
            <i class="fa fa-plus-circle fa-3x" style='color: dodgerblue'></i>
        </button>
    </nav>
</div>
<div class="row my-2  d-flex justify-content-center mt-lg-5" id="holidays"></div>

<div class="modal fade" id="add_modal" th:fragment="calendarContent">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-block">
                <h4 class="modal-title" th:text="#{calendar.calendar_content}"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body mx-auto" id="newCalendarContent">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" th:text="#{it_asset.close}"></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-block">
                <h4 class="modal-title " th:text="#{calendar.delete}"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div th:text="#{calendar.delete_msg}"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="d_submit" th:text="Yes"></button>
                <button type="button" class="btn btn-info" data-dismiss="modal" th:text="#{it_asset.close}"></button>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/fragments::html_js('tag')"></div>

<script th:inline="javascript">
    $(document).ready(function () {
        ajax_get_years();

        $('#add').click(function () {
            openNewCalendar();
        })

        $("#search").click(function () {
            const year = $("#s_year").val();
            if (year !== "*") {
                listSpecialDay(year);
            }
        });

        $('#add_modal').on('hide.bs.modal', function () {
            $("#search").trigger("click");
        });
    })

    function show_mes(message,err) {
        let $el= $("#msg");
        $el.empty();

        if(err === false){
            $el.html("<div class='alert alert-success'>" +
                "<strong>"+message + "</strong>"+
                '</div>');
        }else{
            $el.html("<div class='alert alert-danger'>" +
                "<strong>"+message + "</strong>"+
                '</div>');
        }

    };

    function openNewCalendar() {
        $.ajax({
            type: "GET",
            contentType: "text/html",
            url: "/calendar/new",
            dataType: 'html',
            cache: false,
            async: false,
            success: function (data) {
                $("#newCalendarContent").empty();
                $("#newCalendarContent").html(data);
                $("#add_modal").modal();
            }
        })
    };

    function listSpecialDay(year) {
        $.ajax({
            type: "GET",
            contentType: "text/html",
            url: "/calendar/" + year,
            dataType: 'html',
            cache: false,
            async: false,
            success: function (data) {
                $el = $("#holidays");
                $el.empty();
                $el.html(data);
            }
        });
    }

    function ajax_get_years() {
        $.ajax({
            type: "GET",
            url: "/api/calendar/years",
            cache: false,
            async: false,
            success: function (data) {

                const $el = $('#s_year');
                $el.empty();
                $el.append($('<option></option>').attr('value', '*').text("Select a year"));
                $.each(data, function (index) {
                    $el.append($('<option></option>').attr('value', data[index]).text(
                        data[index]
                    ));
                });
            }
        });
    }


</script>
</body>
</html>