<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EUROMISI Office Online</title>
    <div th:replace="fragments/fragments::html_header('tag')"></div>
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" th:href="@{/}" th:text="#{company.emjl}">
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div th:if="${isDev}" class="alert-warning">
        This is the developing model
    </div>
    <h4 class="text-white" th:text="#{admin.administration}"></h4>
    <ul class="navbar-nav px-3">
        <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input type="submit" th:value="#{login.logout}" class="btn btn-primary btn-sm">
            </form>
        </li>
    </ul>
</nav>
<!--<span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>-->

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column" sec:authorize="hasAuthority('ADMIN')">
                    <li class="nav-item" >
                        <a class="nav-link active" href="#" id="user_manage">
                            <h6 th:text="#{admin.user_management}"></h6>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="#" id="role_manage">
                            <h6 th:text="#{admin.role_management}"></h6>
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="#" id="authen_manage">
                            <h6 th:text="#{admin.authentication}"></h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="it_classifior_manage">
                            <h6 th:text="#{admin.it_classification}"></h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="it_status_manage">
                            <h6 th:text="#{admin.it_status}"></h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="ip_address_manage">
                            <h6 th:text="#{admin.ip_address_server}"></h6>
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-column" sec:authorize="hasAnyAuthority('HR-ADMIN','ADMIN')">
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="calendar_manage">
                            <h6 th:text="#{calendar.calendar_editor}"></h6>
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-column mb-2" sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="change_password">
                            <h6 th:text="#{admin.user.change.password}"></h6>
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-column mb-2" sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="p_it_asset">
                            <h6 th:text="#{index.IT_asset}"></h6>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div id="page_detail"></div>
        </main>
    </div>
</div>
<div th:replace="fragments/fragments::html_js('tag')"></div>
<script th:inline="javascript">
    $(document).ready(function () {
        $('#user_manage').click(function (){
            ajax_listUser();
        });

        $('#role_manage').click(function (){
            ajax_listRole();
        })
        $('#it_classifior_manage').click(function (){
            ajax_listClassifior();
        })
        $('#it_status_manage').click(function (){
            ajax_listStatus();
        })
        $('#authen_manage').click(function (){
            ajax_listAuthentications();
        })
        $('#ip_address_manage').click(function (){
            ajax_listIpAddresses();
        })
        $('#calendar_manage').click(function (){
            ajax_listCalendar();
        })
        $('#change_password').click(function (){
            ajax_updatePassword();
        })
        $('#p_it_asset').click(function (){
            ajax_p_it_asset();
        })

    })

    function ajax_listUser(){
        $.ajax({
            type: "GET",
            contentType: "text/html",
            url: "admin/users",
            dataType: 'html',
            cache: false,
            async: false,
            success: function (data) {
                $el = $("#page_detail");
                $el.empty();
                $el.html(data);
            }
        });
    }

    function ajax_listRole(){
        $.ajax({
            type: "GET",
            contentType: "text/html",
            url: "admin/roles",
            dataType: 'html',
            cache: false,
            async: false,
            success: function (data) {
                $el = $("#page_detail");
                $el.empty();
                $el.html(data);
            }
        });
    }

    function ajax_listClassifior(){
        $.ajax({
            type: "GET",
            contentType: "text/html",
            url: "admin/htypes",
            dataType: 'html',
            cache: false,
            async: false,
            success: function (data) {
                $el = $("#page_detail");
                $el.empty();
                $el.html(data);
            }
        });
    }

    function ajax_listClassifior(){
        $.ajax({
            type: "GET",
            contentType: "text/html",
            url: "admin/htypes",
            dataType: 'html',
            cache: false,
            async: false,
            success: function (data) {
                $el = $("#page_detail");
                $el.empty();
                $el.html(data);
            }
        });
    }

    function ajax_listStatus(){
        $.ajax({
            type: "GET",
            contentType: "text/html",
            url: "admin/hstatuses",
            dataType: 'html',
            cache: false,
            async: false,
            success: function (data) {
                $el = $("#page_detail");
                $el.empty();
                $el.html(data);
            }
        });
    }

    function ajax_listAuthentications(){
        $.ajax({
            type: "GET",
            contentType: "text/html",
            url: "admin/authentications",
            dataType: 'html',
            cache: false,
            async: false,
            success: function (data) {
                $el = $("#page_detail");
                $el.empty();
                $el.html(data);
            }
        });
    }

    function ajax_listIpAddresses(){
        $.ajax({
            type: "GET",
            contentType: "text/html",
            url: "admin/ipAddresses",
            dataType: 'html',
            cache: false,
            async: false,
            success: function (data) {
                $el = $("#page_detail");
                $el.empty();
                $el.html(data);
            }
        });
    }

    function ajax_listCalendar(){
        $.ajax({
            type: "GET",
            contentType: "text/html",
            url: "/calendar/edit",
            dataType: 'html',
            cache: false,
            async: false,
            success: function (data) {
                $el = $("#page_detail");
                $el.empty();
                $el.html(data);
            }
        });
    }

    function ajax_updatePassword(){
        $.ajax({
            type: "GET",
            contentType: "text/html",
            url: "/admin/password",
            dataType: 'html',
            cache: false,
            async: false,
            success: function (data) {
                $el = $("#page_detail");
                $el.empty();
                $el.html(data);
            }
        });
    }

    function ajax_p_it_asset(){
        $.ajax({
            type: "GET",
            contentType: "text/html",
            url: "/it-asset/row-p",
            dataType: 'html',
            cache: false,
            async: false,
            success: function (data) {
                $el = $("#page_detail");
                $el.empty();
                $el.html(data);
            }
        });
    };
</script>


</body>
</html>