<h1 class="h2" th:text="#{admin.user.change.password}"></h1>
<div class="row" id="msg"></div>
<div>

    <form id="f_password">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" th:text="#{admin.user.username}"></label>
            <div class="col-sm-10">
                <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="n_pws" class="col-sm-2 col-form-label" th:text="#{admin.user.new.password}"></label>
            <div class="col-sm-10">
                <input th:type="password" id="n_psw" name="n_psw" class="form-control" placeholder="New password">
            </div>
        </div>
        <div class="form-group row">
            <label for="n_psw_a" class="col-sm-2 col-form-label" th:text="#{admin.user.new.password.again}"></label>
            <div class="col-sm-10">
                <input th:type="password" id="n_psw_a" name="n_psw_a" class="form-control" placeholder="New password again">
            </div>
        </div>

    </form>
    <button class="btn btn-danger" id="btn_submit" th:text="#{it_asset.submit}"></button>
</div>
<script th:inline="javascript">

    $(document).ready(function () {
        $("#btn_submit").on("click", function (e) {
            e.preventDefault();
            ajax_password_update();
        });
    })

    function show_mes(message, err) {
        let $el = $("#msg");
        $el.empty();
        let $cl = null;
        if (err === true){
            $cl = $("<div class='alert alert-danger'></div>");
        }else{
            $cl = $("<div class='alert alert-info'></div>");
        }

        let $ml = $("<strong></strong>");
        $ml.text(message);
        $cl.append($ml);
        $el.append($cl);
    }

    function verification(){
        let n_pws = $("#n_psw").val();
        let n_pws_a = $("#n_psw_a").val();

        if($.trim(n_pws) === ""){
            valid = false;
            show_mes("The new password cannot be empty",true);
            return valid;
        }

        if($.trim(n_pws_a) === ""){
            valid = false;
            show_mes("The new password again cannot be empty",true);
            return valid;
        }

        if ($.trim(n_pws) !==$.trim(n_pws_a) ){
            valid = false;
            show_mes("The new password is not equal to the new password again",true);
            return valid;
        }
    }

    function ajax_password_update() {
        const json_formData = $('#f_password').serializeArray()
            .reduce(function (a, x) {
                a[x.name] = x.value;
                return a;
            }, {});

        //alert(JSON.stringify(json_formData));

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/api/admin/password",
            data: JSON.stringify(json_formData),
            dataType: 'json',
            cache: false,
            async: false,
            success: function (data) {

                $el = $("#msg");
                $el.empty();
                $el.html("<div class='alert alert-success'>" +
                    "<strong>Updated successfully</strong>" +
                    '</div>');
                $("#detail_modal").modal('hide');

            },
            error: function (data) {

                $el = $("#msg");
                $el.empty();
                $el.html("<div class='alert alert-danger'>" +
                    "<strong>Updated failed</strong>" + "</div>");
            }
        })
    }
</script>