<div class="row" id="msg"></div>
<div>

    <form th:object="${user}" id="f_user">
        <table class="table border-0">
            <tr>
                <td class="text-left">
                    <div class="form-group">
                        <label th:text="#{admin.user.login.name} + ':'"></label><i class='fa fa-asterisk' style='color: red;font-size: 0.5rem; '></i>
                        <input type="text" hidden class="form-control w-100" th:field="*{userId}" id="f_userId">
                        <button id="dept" class="btn btn-primary btn-sm" th:text="#{it_asset.dept}"></button>
                        <input type="text" class="form-control w-100" th:field="*{userName}" id="f_userName" >
                    </div>
                </td>
                <td class="text-left">
                    <div class="form-group">
                        <label th:text="#{admin.user.username} + ':'"></label>
                        <i class='fa fa-asterisk'
                                                                          style='color: red;font-size: 0.5rem; '></i>
                        <input type="text" class="form-control w-100" th:field="*{orgName}" id="f_orgName">
                    </div>
                </td>
                <td class="text-left">
                    <div class="form-group">
                        <label th:text="#{it_asset.ssn} + ':'"></label><i class='fa fa-asterisk'
                                                                          style='color: red;font-size: 0.5rem; '></i>
                        <input type="text" class="form-control w-100" th:field="*{ssn}" id="f_ssn">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    <div class="form-group">
                        <label th:text="#{it_asset.dept} + ':'"></label><i class='fa fa-asterisk'
                                                                           style='color: red;font-size: 0.5rem; '></i>
                        <input type="text" class="form-control w-100" th:field="*{dept}" id="f_dept">
                    </div>
                </td>
                <td class="text-left">
                    <div class="form-group">
                        <label th:text="#{admin.user.password} + ':'"></label><i class='fa fa-asterisk' style='color: red;font-size: 0.5rem; '></i>
                        <input type="text" class="form-control w-100" th:field="*{password}" id="f_password">
                    </div>
                </td>

                <td class="text-left">
                    <div class="form-group">
                        <label th:text="#{admin.user.email} + ':'"></label><i class='fa fa-asterisk' style='color: red;font-size: 0.5rem; '></i>
                        <input type="text" class="form-control w-100" th:field="*{email}" id="f_email" >
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    <div class="form-group">
                        <label th:text="#{admin.user.enable} + ':'"></label>
                        <input type="text" hidden class="form-control" th:field="*{enable}" id="f_enable">
                        <select class="form-control" id="s_enable">
                            <option value="1" th:text="#{it_asset.yes}"></option>
                            <option value="0" th:text="#{it_asset.no}"></option>
                        </select>
                    </div>
                </td>
                <td class="text-center" style="vertical-align: middle" colspan="2">
                        <button class="btn btn-primary" id="btn_submit" th:text="#{it_asset.submit}"></button>
                </td>
            </tr>
        </table>
    </form>

</div>
<script th:inline="javascript">

    $(document).ready(function () {

        /*<![CDATA[*/
        let user = /*[[${user}]]*/ 'default';

        $("#s_enable").val(user['enable']);

        $("#s_enable").on("change",function (e){
            $("#f_enable").val(this.value);
        })

        $("#btn_submit").on("click",function (e){
            e.preventDefault();

            const valid = verification();
            if (valid){
                let id = $("#f_userId").val();
                ajax_user_update(id);
            }

        });

        $("#dept").on("click",function (e){
            e.preventDefault();
            ajax_openDeptEmp();
        })


    })

    function ajax_user_update(id) {
        const json_formData = $('#f_user').serializeArray()
            .reduce(function (a, x) {
                a[x.name] = x.value;
                return a;
            }, {});

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/api/admin/user/"+id,
            data: JSON.stringify(json_formData),
            dataType: 'json',
            cache: false,
            async: false,
            success: function (data) {

                $el = $("#msg");
                $el.empty();
                $el.html("<div class='alert alert-success'>" +
                    "<strong>Updated successfully</strong>" +
                    '</div>');
                $("#detail_modal").modal('hide');

            },
            error: function (data) {

                $el = $("#msg");
                $el.empty();
                $el.html("<div class='alert alert-danger'>" +
                    "<strong>Updated failed</strong>" + "</div>");
            }
        })
    }
    </script>