<div th:fragment="asset_header" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">

    <div class="align-items-start my-0 mr-md-auto">
        <a th:href="@{/}">
        <img class="align-content-start" th:alt-title="#{index.EUROMISI}" th:src="@{../img/euromisi-logo-w.gif}"
             style="width:150px;height:50px;">
        </a>
    </div>
    <div th:if="${isDev}" class="alert-warning">
        This is the developing model
    </div>
    <h4 class="my-0 mr-md-auto font-weight-normal" th:text="#{it-asset.index.it_asset}"></h4>
    <nav class="my-2 my-md-0 mr-md-3">
        <ul class="navbar-nav text-lg-right list-group-horizontal text-center">
<!--            <li sec:authorize="isAnonymous()">
                    <i class="fa fa-user-circle-o fa-lg mx-2 control-label" style="color:black"></i>
            </li>-->
<!--            <li sec:authorize="isAnonymous()">
                <form th:action="@{/login}" method="post">
                    <input type="submit" th:value="#{login.login}" class="btn btn-primary btn-sm">
                </form>
            </li>-->
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/admin}">
                    <i class="fa fa-user-circle-o fa-lg mx-2" style="color:green"></i>
                </a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <h6 class="mx-2" th:inline="text">[[${#httpServletRequest.remoteUser}]]</h6>
            </li>
<!--            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" th:value="#{login.logout}" class="btn btn-primary btn-sm">
                </form>
            </li>-->
            <li>
                <span class="ml-2">
                    <a th:href="@{/it-asset/index(language='zh_CN')}" th:alt="Chinese">
                        <img class="rounded" th:alt-title="#{index.Chinese}" th:src="@{../img/china.png}"
                             style="width:24px;height:24px;">
                    </a>
                </span>
            </li>
            <li>
                <span class="ml-2">
                <a th:href="@{/it-asset/index(language='en_US')}" th:alt="English">
                    <img class="rounded" th:alt-title="#{index.English}" th:src="@{../img/united-states.png}"
                         style="width:24px;height:24px;">
                </a>
                </span>
            </li>
        </ul>
    </nav>
</div>

<footer th:fragment="asset_footer" class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="d-flex justify-content-center">
        <div class="col-12 col-md">
            <h6 th:text="#{index.EUROMISI}"></h6>
            <small class="d-block mb-3 text-muted">&copy; 2021</small>
        </div>
    </div>
</footer>